# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-isolation
.DS_Store
*.local

# Tauri build outputs
src-tauri/target
target

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
.solid
*.suo
*.ntvsstat
*.njsproj
*.sln
*.sw?
